@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@900&display=swap');

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
    width: 23.75rem;
    height: 31.25rem;
    position: relative;
    transform: translate(-50%, -50%);
    top: -5%;
    left: 70%;
}

.container *:before,
.container *:after {
  position: absolute;
  content: "";
}

.papaiNoel {
  height: 13.75rem;
  width: 12.5rem;
  background-color: #e84701;
  border-radius: 5rem;
  position: absolute;
  left: 7.1875rem;
  top: 12.5rem;
}

.papaiNoel:before{
    width: 2.5rem;
    margin: auto;
    left: 0;
    right: 0;
}

.papaiNoel:after {
  width: 2.5rem;
  margin: auto;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgb(182, 255, 255));
}

.papaiNoel:before {
  height: 8.125rem;
}

.papaiNoel:after {
  height: 2.5rem;
  bottom: -0.9375rem;
}

.maoEsquerda {
  background-color: #e84701;
  height: 5.625rem;
  width: 6.5625rem;
  position: absolute;
  right: -1.875rem;
  top: 1.25rem;
  border-radius: 0 5rem 0 0;
}

.maoEsquerda:before {
  margin: auto;
  width: 2.1875rem;
  height: 0.9375rem;
  background-color: #ffffff;
  top: 5.3125rem;
  left: 4.4375rem;
}

.maoEsquerda:after {
  height: 0.9375rem;
  width: 1.875rem;
  background-color: #fad2af;
  left: 4.625rem;
  top: 6.3125rem;
  border-radius: 0 0 1.875rem 1.875rem;
}

.maoDireite {
  height: 9.375rem;
  width: 11.25rem;
  border: 1.875rem solid transparent;
  border-bottom: 2.5rem solid #e84701;
  position: absolute;
  left: -6.25rem;
  bottom: 9.375rem;
  border-radius: 50%;
  animation: wave 1.5s infinite;
  transform-origin: right;
}

@keyframes wave {
  50% {
    transform: rotate(15deg);
  }
}

.maoDireite:before {
  width: 2.1875rem;
  height: 0.9375rem;
  background-color: #ffffff;
  transform: rotate(-50deg);
  top: 4.25rem;
  left: -1.375rem;
}

.maoDireite:after {
  width: 1.875rem;
  height: 0.9375rem;
  background-color: #fad2af;
  transform: rotate(-50deg);
  left: -1.9375rem;
  top: 3.625rem;
  border-radius: 0.9375rem 0.9375rem 0 0;
}

.rosto {
  position: absolute;
  margin: auto;
  height: 11.25rem;
  width: 11.25rem;
  background-color: #fad2af;
  border: 1.5625rem solid #f2e6da;
  border-radius: 50%;
  left: 0;
  right: 0;
  bottom: 8.75rem;
}

.barba {
  position: absolute;
  height: 5.625rem;
  width: 11.25rem;
  background-color: #ffffff;
  border-radius: 0 0 5.625rem 5.625rem;
  right: -1.5625rem;
  bottom: -1.5625rem;
}

.barba:before {
  width: 3.4375rem;
  height: 1.5625rem;
  background-color: #f2e6da;
  border-radius: 1.25rem 0;
  left: 2.125rem;
}

.barba:after {
  height: 1.5625rem;
  width: 3.4375rem;
  background-color: #f2e6da;
  border-radius: 0 1.25rem;
  right: 2.125rem;
}

.olhos {
  height: 0.75rem;
  width: 0.75rem;
  background-color: #0078ca;
  border-radius: 50%;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  box-shadow: 2.375rem 0 #0078ca, 1.1875rem 1.25rem #f69697;
}

.olhos:before {
  height: 0.75rem;
  width: 1.5625rem;
  background-color: #ffffff;
  border-radius: 0.625rem 0;
  left: -0.625rem;
  bottom: 1.25rem;
}

.olhos:after {
  height: 0.75rem;
  width: 1.5625rem;
  background-color: #ffffff;
  border-radius: 0 0.625rem;
  left: 2rem;
  bottom: 1.25rem;
}

.gorro {
  position: absolute;
  height: 3.75rem;
  width: 7.5rem;
  background-color: #e84701;
  top: -6.125rem;
  left: 5.3125rem;
  border-radius: 0 0 3.75rem 3.75rem;
}

.gorro:before {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ffffff;
  left: 6.25rem;
  top: -0.9375rem;
  border-radius: 50%;
}

.cinto {
  position: absolute;
  width: 100%;
  height: 1.875rem;
  background-color: #000000;
  top: 6.25rem;
}

.cinto:before {
  height: 100%;
  width: 2.5rem;
  border: 0.4375rem solid #ffdc2e;
  margin: auto;
  left: 0;
  right: 0;
}

.cinto:after {
  height: 0.3125rem;
  width: 0.9375rem;
  background-color: #ffdc2e;
  left: 6.25rem;
  top: 0.75rem;
}

.sapato {
  height: 1.25rem;
  width: 1.25rem;
  background-color: #000000;
  position: absolute;
  top: 13.75rem;
  left: 3.75rem;
  border-radius: 1.25rem 0 0 0;
}

.sapato:before {
  height: 1.25rem;
  width: 1.25rem;
  background-color: #000000;
  top: 0;
  left: 3.75rem;
  border-radius: 0 1.25rem 0 0;
}
